[submodule "palstyleshapes"]
	path = palstyleshapes
	url = https://personalnadir@github.com/PaulaBanca/palstyleshapes.git
[submodule "moses"]
	path = moses
	url = https://personalnadir@github.com/Yonaba/Moses.git
